scikit-learn
spacy-udpipe
pymorphy2
torch==1.8.0
torchvision==0.9.0
torchaudio==0.8.0
matplotlib
ipymarkup
lxml
scipy
pandas
tqdm
youtokentome
seaborn
ipykernel
ipython
pyconll
gensim==4.0.1
wget
livelossplot==0.5.3

